.searchbar:focus-within {
    outline:2px solid rgba(59, 130, 246,1);
}
.loader{
    animation: rotation 2.5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}